# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build output
# =========================
bin/
obj/
out/

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Secrets
# =========================
appsettings.Development.json
secrets.json
.env

# =========================
# Docker
# =========================
docker-compose.override.yml
