version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: WeatherWrapperAPI/Dockerfile
    container_name: weather_api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__Redis=redis:6379"
      - VisualCrossingApiKey=${WEATHER_API_KEY}
    depends_on:
      - redis
    networks:
      - backend

  redis:
    image: redis:7.2
    container_name: weather_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend

volumes:
  redis_data:

networks:
  backend:
    driver: bridge
